$head: #17787a;

$foot: #063332;

$inact: #167272;
$act: #1fa1ad;
$hov: #0dc5d3;
$curt: #0fdaea;
$dim: #bababa;

$bg: #b3b3b3;
$dbg: #69a8a8;

$cbg: #285256;
$dan: #e52033;
$suc: #58e02b;
//$secbg: #141719;
//$subsecbg: #0C0C0C;

// The container
.radioCon {
  margin-top: -3px;
  position: relative;
  padding-left: 25px;
  margin-right: 30px;
  cursor: pointer;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// Hide the browser's default radio button
.radioCon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
// Create a custom radio button
.radioCm {
  position: absolute;
  top: 15px;
  left: 0;
  height: 16px;
  width: 16px;
  background: $cbg;
  border: 1px solid $act;
  border-radius: 50%;
  z-index: 3;
}
// When the radio button is checked, add background
.radioCon input:checked ~ .radioCm {
  background: $dbg;
  border: 1px solid $hov;
}
// Create the indicator (the dot/circle - hidden when not checked)
.radioCm:after {
  content: "";
  position: absolute;
  display: none;
}
// Show the indicator (dot/circle) when checked
.radioCon input:checked ~ .radioCm:after {
  display: block;
}
// Style the indicator (dot/circle)
.radioCon .radioCm:after {
  top: 3px;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $hov;
}