@font-face {
  font-family: "light";
  src: url(../fonts/g2k1light.ttf);
}

@font-face {
  font-family: "reg";
  src: url(../fonts/g2k2reg.ttf);
}

@font-face {
  font-family: "med";
  src: url(../fonts/g2k3med.ttf);
}

/*--------------------------------------------------------------
	Drop-Down Menu (Selector)
--------------------------------------------------------------*/
.dropDContainer {
  width: 150px;
  height: 30px;
  outline: none;
  text-align: center;
  position: relative;
  margin-top: -2px;
}

.select2-results__option {
  padding: 0 !important;
  background: none !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: none !important;
  color: #fff;
  font-family: "med";
  font-weight: bolder;
  padding: 0;
  line-height: 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
  background: #0dc5d3 !important;
  color: #fff;
  line-height: 30px;
  font-family: "reg";
  font-weight: lighter;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  background: none;
  border-radius: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.select2-dropdown {
  background: none !important;
  border: hidden !important;
  line-height: 30px;
  font-size: 16px;
  font-family: "reg";
  text-align: center;
}

.select2 {
  background: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "reg";
  color: #fff !important;
  width: 100% !important;
  text-align: center;
}

.select2:invalid {
  border: hidden !important;
}

.select2:focus {
  border: hidden !important;
}

.select2::-webkit-input-placeholder {
  color: #0dc5d3 !important;
}

.select2:-ms-input-placeholder {
  color: #0dc5d3 !important;
}

.select2::-ms-input-placeholder {
  color: #0dc5d3 !important;
}

.select2::placeholder {
  color: #0dc5d3 !important;
}

.select2:-ms-input-placeholder {
  color: #0dc5d3 !important;
}

.select2-container--default .select2-results {
  line-height: 30px;
  background: none !important;
  overflow: hidden;
  background: #167272 !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 204px;
  overflow-y: scroll;
  color: #fff;
  line-height: 30px;
}

.select2-container--open .select2-dropdown--below {
  background: none !important;
  border-radius: 0 0 15px 15px !important;
  overflow: hidden !important;
}

.select2-container--open .select2-dropdown--above {
  background: none !important;
  border-radius: 15px 15px 0 0 !important;
  overflow: hidden !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 0;
}

/* Track */
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
  background: none;
}

.select2-container--default .select2-selection--single {
  background: #1fa1ad;
  border: hidden;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  position: absolute;
  top: -1px;
  right: 0;
  width: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
}

.select2-results__option,
.select2-container .select2-selection--single {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #1fa1ad;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered {
  color: #bababa !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow b {
  border-color: #bababa transparent transparent transparent;
}
/*# sourceMappingURL=select2CustomLight.css.map */