<!DOCTYPE html>

<div class="rowG2K">
  <section class="containerG2K">
    <div class="rowG2K">
      <section class="sideIcons">
        <button class="sideIconBtn openNav" data-toggle="tooltip" data-placement="right" title="Menu">
        </button>
        <div><button class="sideIconBtn openChat" data-toggle="tooltip" data-placement="right" title="Chat">
        </button>
        <button class="sideIconBtn openCall" data-toggle="tooltip" data-placement="right" title="Call">
        </button>
        <button class="sideIconBtn openShortcuts" data-toggle="tooltip" data-placement="right" title="Shortcuts">
        </button></div>
      </section>
    </div>
  </section>
  <section class="mainGenContainer">
    <div class="rowG2K">
      <div class="moduleSection four draggableElement">
        <div class="moduleSectionHeader">
          Live Camera
            <div class="movingContainer">
          </div>
        </div>
        <div class="moduleSectionContent scrollAct inside rackSectionImg">
          <img alt="" src="imgs/rackRefillModule/liveCamera.png">
        </div>
      </div>
      <div class="moduleSection four draggableElement">
        <div class="moduleSectionHeader">
          Detected Products
            <div class="movingContainer">
          </div>
        </div>
        <div class="moduleSectionContent scrollAct inside rackSectionImg">
          <img alt="" src="imgs/rackRefillModule/detectedProducts.png">
        </div>
      </div>
    </div>
    <div class="rowG2K" style="margin-top: 10px;">
      <div class="moduleSection four draggableElement">
        <div class="moduleSectionHeader">
          Detected Region
            <div class="movingContainer">
          </div>
        </div>
        <div class="moduleSectionContent scrollAct inside rackSectionImg">
        </div>
      </div>
      <div class="moduleSection four draggableElement">
        <div class="moduleSectionHeader">
          Log
            <div class="movingContainer">
          </div>
        </div>
        <div class="moduleSectionContent scrollAct inside rackSectionImg">
          <img alt="" src="imgs/rackRefillModule/log.png">
        </div>
      </div>
    </div>
  </section>
</div>

<script src="js/components/rackRefillModule/scripts.js"></script>